 h1{
     color: blueviolet;
     font-size: 50px;
      text-align: center;
      font-weight: bold;
 }
 div{
     background-color: aquamarine;
     width: 600px;
     font-size: 28px;
     font-weight: bold;

 }
 a{
    text-decoration: none;
     display:inline-block;
     font-size: 28px;
 }